.main{
    z-index: 150;
    display: flex;
    flex-direction: column;
}
.container{
    background-color: #17171f;
    width: 100%;
    height: 100%;
    z-index: 100;
    position: absolute;
    top: 1250px;
    left: 0;

}
.number1{
    font-size: 150pt;
    font-weight: bolder;
    position: absolute;
    top: -300px;
    left: 215px;
    color: #9981752d;
    display: flex;
    align-items: center;
}
.number1 span{
    font-size: 40pt;
    color: #998175;
}
.number1Text{
    color: #998175;
    margin-left: 215px;
    position: absolute;
    top: -110px;
    left: 222px;
    font-size: 40pt;
    font-weight: bolder;
}
.otherFont{
    font-weight: 100;
    font-family: 'Pacifico', serif;
    color:#D5cea3 !important;

}
.container img{
    z-index: 20;
    height: 850px;
    position: absolute;
    left: 1250px;
    top: -100px;
    border-radius: 40px;
    box-shadow: 5px 5px 20px #998175;
}
.number2{
    color: #998175;
    font-size: 25pt;
    width: 593px;
    text-align: justify;
    margin-left: 225px;
    margin-top: 180px;
    text-shadow: 4px 3px 5px #7a665d;
}
.number3{
    font-size: 150pt;
    font-weight: bolder;
    color: #9981752d;
    display: flex;
    align-items: center;
    z-index: 200;
    position: absolute;
    top: 0px;
    left: 1000px;
}
.container2{
    height: 700px;
    width: 100%;
    background-color: #17171f;
    z-index: 250;
    position: absolute;
    left: 0;
    top: 2215px;
}
.text1{
    font-size: 40pt ;
    color: #998175;
    position: absolute;
    left: 1250px;
    top: 40px;
}
.container2 img{
    position: absolute;
    left: 50px;
    border-radius: 40px;
    box-shadow: 5px 5px 20px #998175;
    top: 40px;
}
.secondText{
    width: 500px;
    text-align: justify;
    position: absolute;
    left: 1250px;
    top: 250px;
    font-size: 25pt;
    color: #998175;
    text-shadow: 4px 3px 5px #7a665d;
}